.page-content {
  padding-bottom: 80px;
}
.has-cart .page-content {
  padding-bottom: 166px;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-primary {
  color: var(--zmp-theme-color) !important;
}
.text-secondary {
  color: #666 !important;
}
.mb-5 {
  margin-bottom: 5px;
}
.custom-action-sheet {
  box-shadow: var(--zmp-button-raised-box-shadow);
  .actions-group:first-child {
    position: sticky;
    top: 0;
    z-index: 3000;
    box-shadow: var(--zmp-button-raised-box-shadow);
  }
  .actions-group:nth-child(2) {
    border-top: unset;
    .actions-label:first-of-type {
      background: #eef1f6;
    }
  }
  .actions-button {
    height: unset;
    padding: 0 16px;
    .actions-button-text {
      padding: 24px 0;
      height: unset;
      display: flex;
      align-items: center;
      .description {
        flex: 1;
        text-align: left;
        margin-left: 16px;
        line-height: normal;
        white-space: normal;
      }
    }
    &.inactive {
      background: #eef1f6;
      filter: grayscale(1);
    }
  }
  .actions-label {
    background: #eef1f6;
    min-height: unset;
    &:first-of-type {
      background: white;
    }
  }
  .close-button {
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 1;
  }
  .title {
    color: black;
    font-size: 1rem;
  }
}
.product-image {
  width: 48px;
}
.editable-info {
  .label {
    text-align: left;
    margin-left: 16px;
    margin-bottom: -16px;
    margin-top: 0;
    padding-top: 16px;
  }
  .item-inner {
    padding-bottom: 8px;
  }
}
.d-flex {
  display: flex;
}
.h-center {
  justify-content: center;
}
.v-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.sticky-action-footer {
  padding: 0;
  position: sticky;
  bottom: 0;
  box-shadow: var(--zmp-button-raised-box-shadow);
  border-top: none !important;
}
.actions-button a,
.actions-label a,
.button.button-fill {
  color: white;
  &.zmp-btn-secondary {
    color: #0068ff;
  }
  &.zmp-btn-destructive {
    color: #ef4e49;
  }
  &.zmp-btn-tertiary {
    color: var(--zmp-text-color);
    background: white;
  }
}
.flex-1 {
  flex: 1;
}
.ellipsis {
  width: calc(100vw - 200px);
  min-width: -webkit-fill-available;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-auto {
  margin: auto;
}
.p-0 {
  padding: 0;
}
.text-white {
  color: #fff;
}
.card-no-gap {
  margin: 0 !important;
  padding: 4px 0 !important;
}
.text-lg {
  font-size: 120%;
  margin: 0;
}
