.inline-input {
  width: 100%;
  .input-info {
    display: none;
  }
  input,
  textarea {
    border: none;
    min-height: unset;
    height: 32px;
    padding: 8px 0 !important;
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  textarea.resizable {
    padding-top: 12px !important;
  }
}
